.word_name {
	font-size: 20px;
}

.word_meanings {
	font-size: 12px;
	padding-top: 0.4em;
}

.word_partOfSpeech {
	border-bottom: 1px solid lightgray;
	font-size: 14px;
	font-style: italic;
	padding-bottom: 0.2em;
}