$card-shadow: 0 0 25px 0 rgba(0,0,0,0.1);
$card-shadow-hover: 0 0 25px 0 rgba(0,0,0,0.4);

card-preset {
	background-color: #FFF;
	box-shadow: $card-shadow;
	padding: 0.6em;
}

.full_item {
	@extend card-preset;
	margin: 0.15em;
}

.grid_item {
	@extend card-preset;
	margin: 0.15em;
	transition: 0.3s;
	width: 7.5em;
	&:active {
		box-shadow: $card-shadow-hover;
		transform: scale(1.5);
		transition: 2s;
	}
	&:hover {
		box-shadow: $card-shadow-hover;
		cursor: pointer;
	}
}

.grid_view {
	margin: 0.5em;
}